<root>
    <nodes>
        <node type='http_get'>
            <host>127.0.0.1</host>
            <port>8080</port>
            <parameters>
                <parameter name="path">sample_command.html</parameter>
            </parameters>
        </node>
        <node type='http_get'>
            <host>127.0.0.1</host>
            <port>8000</port>
            <parameters>
                <parameter name="path">sample_command.html</parameter>
            </parameters>
        </node>
        <node type='http_get'>
            <host>127.0.0.1</host>
            <port>8090</port>
            <parameters>
                <parameter name="path">sample_command.html</parameter>
            </parameters>
        </node>
    </nodes>
    <behaviors>
        <activity>
            <min_sleep>60</min_sleep>
            <max_sleep>600</max_sleep>
            <days>
                <day>M</day>
                <day>Tu</day>
                <day>W</day>
                <day>Th</day>
                <day>F</day>
                <day>Sa</day>
                <day>Su</day>
            </days>
            <hours>
                <low_hour>0001</low_hour>
                <high_hour>2359</high_hour>
            </hours>
        </activity>
    </behaviors>
    <!-- Used for generating the handler maps and the pyinstaller import file -->
    <modules>
        <beacons>
            <module>
                <type>http_get</type>
            </module>
        </beacons>
        <commands>
            <module>
                <type>shell_command</type>
            </module>
             <module>
                <type>test_command</type>
            </module>
        </commands>
        <decoders>
            <module order="1">
                <type>base64c</type>
            </module>
            <module order="2">
                <type>rot13</type>
            </module>
            <module order="3">
                <type>jsonc</type>
            </module>
        </decoders>
        <encoders>
            <!--<module>-->
            <!--    <type></type>-->
            <!--</module>-->
        </encoders>
        <responders>
            <!--<module>-->
            <!--    <type></type>-->
            <!--</module>-->
        </responders>
    </modules>
</root>